 {% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
     <title> Home </title> 
    <link rel="stylesheet" href="{% static 'style.css' %}">
   </head>
<body>
  <nav>
    <div class="nav-content">
      <div class="logo">
        <a href="{% url 'index' %}">| Jangwon</a>
      </div>
      <ul class="nav-links">
        <li><a href="#home">Home</a></li>
        <li><a href="#text">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <section id="home" class="home" style="background-image: url('{% static "images/back.jpg" %}')">{% block main %}
    {% endblock %}</section>
  {% block content %}
  {% endblock %}
  <script>
  let nav = document.querySelector("nav");
    window.onscroll = function() {
      if(document.documentElement.scrollTop > 20){
        nav.classList.add("sticky");
      }else {
        nav.classList.remove("sticky");
      }
    }
  </script>
</body>
</html>
