{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="intro">
    <div>
        <h2>
            Data Scientist <br> & Software Developer
        </h2>
        <h1>
            I am a data scientist and software developer with a passion for leveraging data and 
            machine learning to develop innovative, impactful software solutions. Here are some technologies I am proficient with!
        </h1>
    </div>
    <div class="scrol-wrapper">
        <p class="introtext">Programming Language</p>
        <div class="scrollable-container">
            <div class="image-container">
                <img src="{% static 'images/python.png' %}" alt="python" class="hover-image" style="width:80px; height:auto;">
                <p class="image-caption">Python</p>
            </div>
            <div class="image-container">
                <img src="{% static 'images/java.png' %}" alt="java" class="hover-image" style="width:80px; height:auto;">
                <p class="image-caption">Java</p>
            </div>
            <div class="image-container">
                <img src="{% static 'images/cpp.png' %}" alt="cpp" class="hover-image" style="width:80px; height:auto;">
                <p class="image-caption">C++</p>
            </div>
            <div class="image-container">
                <img src="{% static 'images/html.png' %}" alt="html" class="hover-image" style="width:80px; height:auto;">
                <p class="image-caption">HTML</p>
            </div>
            <div class="image-container">
                <img src="{% static 'images/css-3.png' %}" alt="css" class="hover-image" style="width:80px; height:auto;">
                <p class="image-caption">CSS</p>
            </div>
            <div class="image-container">
                <img src="{% static 'images/js.png' %}" alt="js" class="hover-image" style="width:80px; height:auto;">
                <p class="image-caption">JavaScript</p>
            </div>
            <div class="image-container">
                <img src="{% static 'images/sql-server.png' %}" alt="sql" class="hover-image" style="width:80px; height:auto;">
                <p class="image-caption">SQL</p>
            </div>
            <div class="image-container">
                <img src="{% static 'images/r.png' %}" alt="r" class="hover-image" style="width:80px; height:auto;">
                <p class="image-caption">R</p>
            </div>
        </div>

        <p class="introtext">Tools and Libraries</p>
        <div class="scrollable-container">
            <div class="image-container">
                <img src="{% static 'images/Django.png' %}" alt="Django" class="hover-image" style="width:80px; height:auto;">
                <p class="image-caption">Django</p>
            </div>
            <div class="image-container">
                <img src="{% static 'images/Tensorflow.png' %}" alt="Tensorflow" class="hover-image" style="width:80px; height:auto;">
                <p class="image-caption">Tensorflow</p>
            </div>
            <div class="image-container">
                <img src="{% static 'images/Pytorch.png' %}" alt="Pytorch" class="hover-image" style="width:80px; height:auto;">
                <p class="image-caption">PyTorch</p>
            </div>
            <div class="image-container">
                <img src="{% static 'images/scikit-learn.png' %}" alt="scikit-learn" class="hover-image" style="width:80px; height:auto;">
                <p class="image-caption">scikit-learn</p>
            </div>
            <div class="image-container">
                <img src="{% static 'images/Pandas.png' %}" alt="Pandas" class="hover-image" style="width:80px; height:auto;">
                <p class="image-caption">Pandas</p>
            </div>
            <div class="image-container">
                <img src="{% static 'images/Numpy.png' %}" alt="Numpy" class="hover-image" style="width:80px; height:auto;">
                <p class="image-caption">Numpy</p>
            </div>
            <div class="image-container">
                <img src="{% static 'images/tableau.svg' %}" alt="tableau" class="hover-image" style="width:80px; height:auto;">
                <p class="image-caption">Tableau</p>
            </div>
            <div class="image-container">
                <img src="{% static 'images/Matplotlib.png' %}" alt="Matplotlib" class="hover-image" style="width:80px; height:auto;">
                <p class="image-caption">MatPlotLib</p>
            </div>
            <div class="image-container">
                <img src="{% static 'images/Ploty.png' %}" alt="Ploty" class="hover-image" style="width:80px; height:auto;">
                <p class="image-caption">Plotly</p>
            </div>
            <div class="image-container">
                <img src="{% static 'images/mysql-database.png' %}" alt="mysql-database" class="hover-image" style="width:80px; height:auto;">
                <p class="image-caption">MySQL</p>
            </div>
            <div class="image-container">
                <img src="{% static 'images/Git.png' %}" alt="Git" class="hover-image" style="width:80px; height:auto;">
                <p class="image-caption">Git</p>
            </div>
            <div class="image-container">
                <img src="{% static 'images/Azure.png' %}" alt="Azure" class="hover-image" style="width:80px; height:auto;">
                <p class="image-caption">Azure</p>
            </div>
            <div class="image-container">
                <img src="{% static 'images/Heroku.png' %}" alt="Heroku" class="hover-image" style="width:80px; height:auto;">
                <p class="image-caption">Heroku</p>
            </div>
        </div>
    </div>
</div>
<script>
    const scrollableContainers = document.querySelectorAll('.scrollable-container');

    scrollableContainers.forEach((container) => {
        let isDragging = false;
        let startX;
        let scrollLeft;

        // Prevent image dragging
        container.querySelectorAll('img').forEach((img) => {
            img.setAttribute('draggable', 'false');
        });

        // Mouse events for drag-to-scroll
        container.addEventListener('mousedown', (e) => {
            isDragging = true;
            container.classList.add('dragging');
            startX = e.pageX - container.offsetLeft;
            scrollLeft = container.scrollLeft;
        });

        container.addEventListener('mouseleave', () => {
            isDragging = false;
            container.classList.remove('dragging');
        });

        container.addEventListener('mouseup', () => {
            isDragging = false;
            container.classList.remove('dragging');
        });

        container.addEventListener('mousemove', (e) => {
            if (!isDragging) return;
            e.preventDefault();
            const x = e.pageX - container.offsetLeft;
            const walk = (x - startX) * 1.5; // Adjust scroll speed
            container.scrollLeft = scrollLeft - walk;
        });
    });

</script>
{% endblock %}

{% block content %}

<div id="text" class="text">
    <p><h2>My Works</h2>
    <div class="projectscontainer">
        <div class="projectcontainer">
            <div class="project">
                <div class="content">
                    <div class="title">Stock Dividend Prediction with LSTM</div>
                </div>
                <img src="{% static 'images/dashboard.png' %}" alt="Card Image" draggable="false">
                <div class="content">
                    <div class="description">
                        A Django based web app. Predicts dividend payments of selected stock with Long Short-Term Memory model.
                        <a href="{% url 'post-lstm' %}">Read more here.</a>
                    </div>
                </div>
                </div>
        </div>
        <div class="projectcontainer">
            <div class="project">
                <div class="content">
                    <div class="title">Criminal Composite Generation with GAN</div>
                </div>
                <img src="{% static 'images/mise.png' %}" alt="Card Image" draggable="false">
                <div class="content">
                    <div class="description">
                    Optimizing Generative Adversarial Network to produce images of human faces that iteratively improves resemblance of generated images.
                    <a href="{% url 'gmci' %}">Read more here.</a>
                    </div>
                </div>
                </div>
        </div>
        <div class="projectcontainer">
            <div class="project">
                <div class="content">
                    <div class="title">Website for SAMPO Real Estate office</div>
                </div>
                <img src="https://via.placeholder.com/300" alt="Card Image" draggable="false">
                <div class="content">
                    <div class="description">
                        Django-based real estate website featuring an admin blogging system, interactive maps with land information markers, and user-friendly street-level imagery to enhance client engagement. 
                        <a href="{% url 'under-construction' %}">Read more here.</a>
                    </div>
                </div>
                </div>
        </div>
        <div class="projectcontainer">
            <div class="project">
                <div class="content">
                    <div class="title">Multiplayer Tetris</div>
                </div>
                <img src="https://via.placeholder.com/300" alt="Card Image" draggable="false">
                <div class="content">
                    <div class="description">
                    Multiplayer Tetris developed in Java. 
                    <a href="{% url 'under-construction' %}">Read more here.</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="projectcontainer">
            <div class="project">
                <div class="content">
                    <div class="title">Card Title</div>
                </div>
                <img src="https://via.placeholder.com/300" alt="Card Image" draggable="false">
                <div class="content">
                    <div class="description">
                    This is a short description of the card. It provides brief information about the content of the card.
                    </div>
                </div>
            </div>
        </div>
        <div class="projectcontainer">
            <div class="project">
                <div class="content">
                    <div class="title">Card Title</div>
                </div>
                <img src="https://via.placeholder.com/300" alt="Card Image" draggable="false">
                <div class="content">
                    <div class="description">
                    This is a short description of the card. It provides brief information about the content of the card.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const elements = document.getElementsByClassName('projectscontainer');
    const container = elements[0];
    let isDragging = false;
    let startX;
    let scrollLeft;

    container.addEventListener('mousedown', (e) => {
      isDragging = true;
      container.classList.add('dragging');
      startX = e.pageX - container.offsetLeft;
      scrollLeft = container.scrollLeft;
    });

    container.addEventListener('mouseleave', () => {
      isDragging = false;
      container.classList.remove('dragging');
    });

    container.addEventListener('mouseup', () => {
      isDragging = false;
      container.classList.remove('dragging');
    });

    container.addEventListener('mousemove', (e) => {
      if (!isDragging) return;
      e.preventDefault();
      const x = e.pageX - container.offsetLeft;
      const walk = (x - startX) * 0.8; // Adjust scrolling speed
      container.scrollLeft = scrollLeft - walk;
    });

    // For touch devices
    container.addEventListener('touchstart', (e) => {
      isDragging = true;
      startX = e.touches[0].pageX - container.offsetLeft;
      scrollLeft = container.scrollLeft;
    });

    container.addEventListener('touchend', () => {
      isDragging = false;
    });

    container.addEventListener('touchmove', (e) => {
      if (!isDragging) return;
      const x = e.touches[0].pageX - container.offsetLeft;
      const walk = (x - startX) * 0.8; // Adjust scrolling speed
      container.scrollLeft = scrollLeft - walk;
    });
  </script>












<div class="container-contact">
    <div id="contact" class="text">
        <div>
            <h2>Contact</h2>
            <h1 class="contactdesc">I would love to connect! Connect with me through any of my socials below, or leave me a short message!</h1>
            <div class="socials">
                <a href="mailto:jangwonseo079@gmail.com" target="_blank"><img src="{% static 'images/mail.png' %}" alt="mail" style="width:40px; height:auto;"></a>
                <a href="https://www.linkedin.com/in/jangwon-seo-" target="_blank"><img src="{% static 'images/linkedin.png' %}" alt="linkedin" style="width:40px; height:auto;"></a>
                <a href="https://www.github.com/jseo07/" target="_blank"><img src="{% static 'images/github.png' %}" alt="github" style="width:40px; height:auto;"></a>
            </div>

            <div class="form-container">
                <form action="{% url 'contact' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_name">Name</label>
                        <input type="text" id="id_name" name="name" value="{{ form.data.name }}" required>
                        {% if form.errors.name %}
                            <div class="error">{{ form.errors.name }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="id_email">Email</label>
                        <input type="email" id="id_email" name="email" value="{{ form.data.email }}">
                        {% if form.errors.email %}
                            <div class="error">{{ form.errors.email }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="id_subject">Subject</label>
                        <input type="text" id="id_subject" name="subject" value="{{ form.data.subject }}" required>
                        {% if form.errors.subject %}
                            <div class="error">{{ form.errors.subject }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="id_message">Message</label>
                        <textarea id="id_message" name="message" required>{{ form.data.message }}</textarea>
                        {% if form.errors.message %}
                            <div class="error">{{ form.errors.message }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <button type="submit">Submit</button>
                    </div>
                </form>
                
              </div>

        </div>
        

    </div>
</div>
{% endblock %}
